mixin confirmButton(opts)
  button.btn.w-100( type='button', data-click=opts.click, class=opts.css )
    if opts.icon
      i.fa.fa-fw( class=opts.icon )
      |&nbsp;
    = opts.text

//- // // // // //

.modal-body
  p.lead.m-b-0(class=messageCss) !{message}

.modal-footer
  .row
    .col-xs-6
      +confirmButton({ click: 'deny', css: denyCss, icon: denyIcon, text: denyText })

    .col-xs-6
      +confirmButton({ click: 'confirm', css: confirmCss, icon: confirmIcon, text: confirmText })

